.horizontal{
    width: 100%;
    background-color: #a2a4a6;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.cube{
 margin-bottom: 16px;
}
.vertical{

}
.image{
    max-width: 100%;
    height: auto;
}