.app-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.test {
    color: brown;
    padding: 16px;
}

.content {
    background: yellow
}