.container {
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    min-height: 400px;
    opacity: 1;
    margin-bottom: 16px;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 30px;
    bottom: 0;
    text-align: left;
    color: #ffffff;
}
.title{
    color: #ffffff;
    font-size: 32px;
    line-height: 1.2;
    display: block;
}
.article{
    padding-right: 16px;
}
.article-header{
    margin-bottom: 16px;
}
.text{

}
.text p{
    font-size: 18px;
    color: #333333
}
.social{
    min-height: 200px;
    background-color: #f0f0f0;
}
@media (max-width: 768px){
    .container{
        margin-bottom: 8px;
    }
    .title{
        font-size: 24px;
    }
    .article{
        padding-right: 0;
    }
    .article-header{
        margin-bottom: 8px;
    }
    .text{
        margin-bottom: 8px;
    }
}
