
.news-prev{
   margin-top: 16px;
}

.new-prev{
    /*padding: 16px;*/
}
.container {
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    min-height: 340px;
    opacity: 1;
    backface-visibility: hidden;
}