.progress-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: transparent;
    height: 3px;
}

.progress-bar{
    height: 3px;
    background: tomato;
    width: 0;
}
@media (max-width: 768px) {
    .progress-container{
        display: none;
    }

}