html {
    /*background-color: #ffefd5;*/
}

.app-media {
    width: auto;
    height: 100%;
}

.section-title-red {
    color: tomato;
    text-decoration: underline;
    margin-left: 0;
}



.test {
    border: 2px solid black;
}

.indexArticle {
    max-height: 250px;
    overflow: hidden;
}

.indexArticle img {
    display: none;
}

.articleContent img {
    display: block;
    margin: 0 auto;
    width: 400px;
}

.articleContent .small {
    width: 100%;
    max-width: 250px;
}

.articleContent .large {
    width: 100%;
    max-width: 600px;
}

/*testing*/
.article-wrapper {
    padding: 16px;
    border: 1px dashed lightgrey;
}
.likely {
    display: flex;
    justify-content: space-between;
}
.likely > div{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    margin-right: 3px;
    border-radius: 50%;
}
.likely > div  span:first-child {
    display: flex;
    width: 16px;
    height: 16px;
}
div ul .ant-pagination-item-active{
    border-color: tomato;
}

.button{
    display: inline-block;
    border: none;
    color: #ffffff;
    text-decoration: none;
    background-color: tomato;
    padding: 12px 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    position: relative;
    outline: 0;
    cursor: pointer;
    transition: background-color .7s ease;
}
.button:hover{
    background-color: #001529;
}
