.menu-button {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
    background-color: #001529;
    padding: 0 32px;

}
.menu-button-open{
    transition: all .8s;
    background-color: transparent;
}

.logo-wrapper {
    width: 120px;
    height: 32px;
    /*background: #5e5e5e;*/
    margin: 16px 24px 16px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}
.logo{
    font-size: 24px;
    color: tomato;
}
.logo-mobile{
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    transition: all 1s;

}
.logo-mobile-close{
    font-size: 0;
    width: 0;
}
.logo-mobile-close a{
    color: tomato;
    font-size: 0;
    width: 0;
}
.logo-mobile a{
    color: tomato;
    transition: all 1s;
}
.trigger {
    font-size: 24px;
    padding: 0;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
    line-height: 0;
}
.trigger-open{
    font-size: 24px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    color:  #001529;
    line-height: 64px;
}
.trigger:hover {
    color: #1890ff;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #001529;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    transition: 0.3s;
}


.sidebar a:hover {
    color: #f1f1f1;
}

.modal::before{
    content: '';
    transition: opacity .25s ease,top .25s ease,left .25s ease,bottom .25s ease,right .25s ease;
    z-index: 999;
    position: absolute;
    border: #fff solid 1px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.modal:hover::before {
    opacity: .2;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}