.logo-wrapper {
    width: 120px;
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #1890ff;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #001529;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.active-link{
    color: red;
    border: 2px solid white;
}
.sidebar a {
    transition: 0.3s;
}


.sidebar a:hover {
    color: #f1f1f1;
}

.menu-button {
    transition: margin-left .5s;
}


@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}