
.container {
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    min-height: 340px;
    opacity: 1;
    backface-visibility: hidden;
}
.container::before {
    content: '';
    background-color: #001529;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .55;
    transition: all .50s ease;

}

.container:hover.container::before{
    opacity: .8;
    outline: 1px solid  #ffffff;
    outline-offset: -10px;
}
.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 30px;
    bottom: 0;
    text-align: left;
    color: #ffffff;
}

.container:hover .image {
    opacity: 0.3;
}


.text {
    font-size: 18px;
    color: #ffffff;
}
.text a{
    color: #ffffff;
    text-decoration: none;
}
.text a:hover{
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}
.text a h3{
    color: #ffffff;
    margin: 0;
}
.social{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.share-icon{
    font-size: 18px;
    margin-right: 5px;
}
.eye{
    font-size: 15px;
    font-weight: lighter;
    margin-right: 14px;
}
@media (max-width: 576px) {
    .article-prev{
       margin-bottom: 8px;
    }

}
