.paginate-wrapper{
    padding: 40px 0;
    text-align: center;
}
.button{
    display: inline-block;
    border: none;
    color: #ffffff;
    text-decoration: none;
    background-color: tomato;
    padding: 12px 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    position: relative;
    outline: 0;
    cursor: pointer;
    transition: background-color .7s ease;
}
.button:hover{
    text-decoration: none;
    background-color: #001529;
    color: #fff;
}
.pagination{
    display: block;
    margin: 0;
    text-align: center;
    padding: 12px 0 0 0;
}
.pagination li {
    margin-top: 5px;
    width: 42px;
    height: 42px;
    line-height: 40px;
    border-radius: unset;
    text-decoration: none;
    transition: border-color .25s ease;
}

.pagination li:hover{
    border-color: tomato;
}
.pagination li:hover a{
    color: tomato;
}
.number{
    color: #666666;
    font-size: 18px;
    font-weight: 800;
    margin: auto;
}

.pagination li a{
    font-size: 18px;
}
.pagination li .active-href{
    color: tomato;
}
