.paginate-wrapper{
    padding: 40px 0;
    background-color: #f5f5f5;
    text-align: center;
}
.button{
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: tomato;
    padding: 12px 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10em;
    text-align: center;
    position: relative;
    outline: 0;
    cursor: pointer;
    transition: background-color .1s ease;
}
.button:hover{
    text-decoration: none;
    background-color: rgba(255, 99, 71, 0.71);
    color: #fff;
}
.pagination{
    display: block;
    margin: 0;
    text-align: center;
    padding: 12px 0 0 0;
}
.pagination li{
    display: inline-block;
    list-style: none;
    /*min-height: 20px;*/
    margin-right: 8px;
}
.pagination li{
    margin-top: 5px;
    width: 42px;
    height: 42px;
    line-height: 40px;
    border: 2px solid #e5e5e5;
    border-radius: 10em;
    /*font-size: 18px;*/
    text-decoration: none;
    transition: border-color .25s ease,color .25s ease;
}
.number{
    color: #666666;
    font-size: 18px;
    font-weight: 800;
    margin: auto;
}